# Build products and artifacts

.gradle
*.iml
build/
grpc-kotlin-gen/build/
grpc-kotlin-test/build/
release.properties

# Stuff from various IDE's and editors
*.iml
*~
.idea/*

# Mac OS X Finder
.DS_Store

.classpath
.project
