@file:Suppress("EXPERIMENTAL_API_USAGE")

{{#packageName}}
package {{packageName}}
{{/packageName}}

import io.grpc.*
import io.grpc.stub.*
import io.rouz.grpc.*

import kotlin.coroutines.*
import kotlinx.coroutines.*
import kotlinx.coroutines.channels.*
import dagger.Subcomponent
import dagger.BindsInstance
import javax.inject.Inject

{{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
{{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
@javax.annotation.Generated(
    value = ["by gRPC Kotlin generator"],
    comments = "Source: {{protoName}}"
)
class {{serviceName}} @Inject constructor(
    @io.rouz.grpc.ForServices context: CoroutineContext
   {{#methods}}
    , private val {{methodName}}ComponentFactory : {{methodNamePascalCase}}Subcomponent.Factory
    {{/methods}}
) : {{serviceName}}Grpc.{{serviceName}}ImplBase() {

    private val coroutineScope = object : CoroutineScope {
      override val coroutineContext: CoroutineContext
         get() = context
    }

    {{#methods}}
    @CallScope
    {{#serviceHandlersModuleFullName}}
    @Subcomponent(modules = [{{serviceHandlersModuleFullName}}::class])
    {{/serviceHandlersModuleFullName}}
    interface {{methodNamePascalCase}}Subcomponent {
      @Subcomponent.Factory
      interface Factory {
        fun create(@BindsInstance requestData : RequestData) : {{methodNamePascalCase}}Subcomponent
      }
      fun provideHandler() : {{methodNamePascalCase}}Handler
    }

    {{#javaDoc}}{{{javaDoc}}}{{/javaDoc}}
    {{#deprecated}}@Deprecated("deprecated"){{/deprecated}}
    {{^isManyInput}}
    {{^isManyOutput}}
    {{! == unary req, unary resp == }}
    interface {{methodNamePascalCase}}Handler {
        suspend operator fun invoke(request: {{inputType}}): {{outputType}}
    }

    final override fun {{methodName}}(request: {{inputType}}, responseObserver: StreamObserver<{{outputType}}>) {
        coroutineScope.launch(GrpcContextCoroutineContextElement()) {
            cancelCoroutineScopeOnGrpcCancellation(scope = this)
            try {
               val requestData = KeepRequestDataInContextInterceptor.getRequestData()
               val handler = {{methodName}}ComponentFactory.create(requestData)
                      .provideHandler()
               val response = handler.invoke(request)
               responseObserver.onNext(response)
               responseObserver.onCompleted()
            } catch (t: Throwable) {
               responseObserver.onError(t)
            }
        }
    }

    {{/isManyOutput}}
    {{#isManyOutput}}
    {{! == unary req, streaming resp == }}
    interface {{methodNamePascalCase}}Handler {
       operator fun invoke(request: {{inputType}}, produceScope: ProducerScope<{{outputType}}>)
    }

    final override fun {{methodName}}(request: {{inputType}}, responseObserver: StreamObserver<{{outputType}}>) {
        coroutineScope.launch(GrpcContextCoroutineContextElement()) {
            cancelCoroutineScopeOnGrpcCancellation(scope = this)
            try {
               val requestData = KeepRequestDataInContextInterceptor.getRequestData()
               val handler = {{methodName}}ComponentFactory.create(requestData)
                                 .provideHandler()
               produce<{{outputType}}> { handler.invoke(request, this) }
                  .consumeEach(responseObserver::onNext)
               responseObserver.onCompleted()
            } catch (t: Throwable) {
               responseObserver.onError(t)
            }
        }
    }

    {{/isManyOutput}}
    {{/isManyInput}}
    {{#isManyInput}}
    {{^isManyOutput}}
    {{! == TODO streaming req, unary resp == }}
    open suspend fun {{methodName}}(requests: ReceiveChannel<{{inputType}}>): {{outputType}} {
        throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
    }

    internal fun {{methodName}}Internal(
        responseObserver: StreamObserver<{{outputType}}>
    ): StreamObserver<{{inputType}}> {
        val requests = StreamObserverChannel<{{inputType}}>()
        coroutineScope.launch(GrpcContextCoroutineContextElement()) {
            cancelCoroutineScopeOnGrpcCancellation(scope = this)
            try {
               val response = {{methodName}}(requests)
               responseObserver.onNext(response)
               responseObserver.onCompleted()
            } catch (t: Throwable) {
               responseObserver.onError(t)
            }
        }
        return requests
    }
    {{/isManyOutput}}
    {{#isManyOutput}}
    {{! == TODO streaming req, streaming resp == }}
    open fun {{methodName}}(requests: ReceiveChannel<{{inputType}}>): ReceiveChannel<{{outputType}}> {
        throw unimplemented(get{{methodNamePascalCase}}Method()).asRuntimeException()
    }

    internal fun {{methodName}}Internal(
        responseObserver: StreamObserver<{{outputType}}>
    ): StreamObserver<{{inputType}}> {
        val requests = StreamObserverChannel<{{inputType}}>()
        coroutineScope.launch(GrpcContextCoroutineContextElement()) {
            cancelCoroutineScopeOnGrpcCancellation(scope = this)
            try {
               val responses = {{methodName}}(requests)
               for (response in responses) {
                   onNext(response)
               }
               responseObserver.onCompleted()
            } catch (t: Throwable) {
               responseObserver.onError(t)
            }
        }
        return requests
    }
    {{/isManyOutput}}
    {{/isManyInput}}
    {{/methods}}

    private fun unimplemented(methodDescriptor: MethodDescriptor<*, *>): Status {
        return Status.UNIMPLEMENTED
            .withDescription("Method ${methodDescriptor.fullMethodName} is unimplemented")
    }
}

private fun cancelCoroutineScopeOnGrpcCancellation(scope: CoroutineScope) =
  Context.current().addListener({ scope.cancel(CancellationException("Grpc context cancelled")) }, Runnable::run)
